.header {
  grid-area: h;

  background-color: greenyellow;
}

.logo {
  height: 60px;
}

.loginBlock {
  float: right;
}

.loginBlock a {
  color: white;
}

.loginBlock a:hover {
  color: rgb(250, 4, 4);
}